@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;       
}
header img{
    grid-column-start:1;
}

header h3{
    grid-column-start: 5;
    background-color: crimson; 
}
.content{
    display: inline-block; 
  } 