@media only screen and (man-width: 43.5em){
@media only screen and (min-width: 33em) {
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');
    html{
        min-width: 33em;
        max-width: 64em;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: rgb(146, 19, 19);

    }
    .logo-box1{
      max-width: 25%;
    
    }

    .home-right-image{
      max-width: 25%; 
      grid-column: 2 -2;
     }
     .action.img{
      width: .02%;
      grid-column: 1 3;
    }
    .img{
      max-width: 25%;
      grid-column: 3 4;
    }
    .hero{
      grid-column: -2 -1;
      max-width: 2%;
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color:  rgb(146, 19, 19);
        position: relative;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
    .topnav a {
        color: rgb(20, 19, 19);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
    .topnav a.icon {
        background:  rgb(208, 180, 180);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: rgb(214, 30, 30);
        color:  rgb(146, 19, 19);
      }
      
      /* Style the active link (or home/logo) */
    .active {
        background-color:  rgb(146, 19, 19);
        color: rgb(146, 19, 19);
      }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: crimson;    
        border-radius: 25px;  
    }
    header img{
        grid-column-start:1;
        width: 50%;
        border-radius: 25px ;
    }
    
    header h1{
        grid-column-start: 2;
    }
    .content{
        display: inline-block; 
      } 
      .sideimg{
        justify-content: right;
        display: block;
       
      }
      .hero{
        grid-column: -2 -1;
        max-width: 300px;
      }
      .banner{
        max-width: 300px;
      }
      .weather{
        grid-column: 1 -1;
      }
    footer{
          background-color:  rgb(146, 19, 19);
          grid-row: 6;
          grid-column: 1 -1; 
        }
      main{
          text-align: center;
      }
      main ul{
        list-style: none;
      }
      .text{
          text-align: center;
          color:  rgb(146, 19, 19);

      }
      #weather{
        border-style:groove;
        border-width:10px;
        border-color: red;
        grid-column: 1 2;
        text-align: center;
        max-width: 400px;    
      }
      
    }
      
  }