
    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');
    
    html{
        max-width: 32em;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: red;
    
    }
    .sideimg{
      justify-content: right;
      align-items: right;
      display: block;
      grid-column: 2;
    
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: rgb(237, 216, 216);
        position: relative;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
    .topnav a {
        color: rgb(20, 19, 19);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
    .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: rgb(214, 30, 30);
        color: rgb(242, 228, 228);
      }
      
      /* Style the active link (or home/logo) */
    .active {
        background-color: #aa04aa;
        color: rgb(146, 19, 19);
      }
    header {
        grid-column: span;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: none;    
        border-radius: 25px;  
    }
    header img{
        grid-column-start:1;
        width: 50%;
        border-radius: 25px ;
    }
    
    header h1{
        grid-column-start: 2;
    }
    .content{
        display: inline-block; 
      } 
      footer{
          background-color: blueviolet;
            grid-row: 6;
            grid-column: 1 -1; 
      }
      main{
          text-align: center;
      }
      main ul{
        list-style: none;
      }
      .text{
          text-align: center;
          color: white;
      }
      footer img{
        width: 5%;
        border-radius: 25px ;
        display:inline;
    }
    body{
        justify-content: center;
        align-items: center;
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        

    }