@media only screen and (max-width: 32.5em) {
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');
body ul{
    list-style: none;
  }
  html {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-items: center;
    background-color: violet;
  
  }
  body{
    display: grid;
    grid-template-columns: 1fr;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:.35fr 1fr 1fr 1fr;
    row-gap: -5em;
    column-gap: 5px;
  }
body ul{
    list-style: none;
    grid-column:1/4;
    text-align: center;
    border-width: -5em;
    border-style: ridge;
    border-color: red;
    max-height: 200px;
    grid-row:1;
    

  }
  img{
    max-width: 50%;
  }
}