body ul{
    list-style: none;
  }
  html {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-items: center;
    background-color: violet;
  }
  img{
    max-width: 50%;
  }