@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');
body ul{
    list-style: none;
  }
  html {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-items: center;
    background-color: violet;
  
  }
  body{
    display: grid;
    grid-template-columns: 1fr;
  }
  img{
    max-width: 50%;
  }
  